
body {
	background: #222;
	color: #ccc;
	font-family: 'Oswald', sans-serif;
	margin: 0 auto;
	text-align: center;
}

h1 {
	color: #ffffff;
}

h2 { 
	padding: 0;
	/*line-height: 10px;*/
	margin: 0;
}

a:link, a:visited, a:active {
	color: white;
}

a:hover {
}

.container {
	max-width: 750px;
	text-align:center;
	display: block;
	margin: 0 auto 10px;
}

#heading {
	max-width: 400px;
	border-bottom: 1px white solid;
	padding: 0px;
}
